body {
  font-family: sans-serif;
  min-height: 100vh;
    max-width: 600px;
    background-color: #EAF2F8; 
    margin: 0 auto;
  width: 600px;
  height:850;
}

.a {
  font-style: italic;
  font-size:14px;
  font-weight: 600;
}
.b {
  text-transform:italic;
  font-size:14px;
}

.c {
font-style: italic;
  font-size:14px;
}
.d {
  text-transform:italic;
  font-size:14px;
}

h2 {
  color: #1B4F72;
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
}

h3 {
  color: #1B4F72;
  text-align: center;
  font-size: 18px;
}

h4 {
 font-size:14px;
  text-transform: uppercase;
   text-align: left;
}

h5 {
 font-size:13px;
  text-transform: italic;
  text-align: left;
}

h6 {
  font-size: 10px;
  text-align: center;
}

li {
   font-size:13px;
 text-align: left;

}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 2.5px;
  width: 35%
}

.name {
  display: block;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 2.5px;
  width: 95%;
}
